.budgetContainer { 
    width: 35vw;
    background-color: #E1E1E2;
    padding: 1%;
    border: 1px solid rgba(108,106,108, 0.15);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.09), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
    border-radius: 1.5%;
    overflow: hidden;
    margin-bottom: 1%;
}

.bLabel {
    transform: translateX(-0.5vw);
}

.budgetContainer:hover { 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rLabel {
    transform: translateX(-.7vw) translateY(-1vh)!important;
}

.rLabel:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
