.mainContainer {
    width: 100vw;
    height: 100vh;
    padding-top: 6.5vh !important;
    background-color: #F6F5F1!important;
    overflow: scroll;
    background-color: #F6F5F1 !important;
}

.content { 
    display: flex !important;
    padding-top: 1%;
    flex-flow: row wrap !important;
    justify-content: space-around !important;
}